ion-header {
    ion-title {
        color: white;
        align-items: center;
        text-align: center;
    }

    ion-icon {
        color: white;
    }
}

.CadNome {
    color: #a0a0a0;
    margin-top: 5px;
}

.Houver {
    margin-top: 5px;
    color: #808080;
}

.DMADiagn {
    margin-top: 5px;
}

.ESCPPATabColor {
    color: #a0a0a0;
}

.ButtonCad {
    margin: auto;
    display: block;
}