<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color : white;">MAMA</ion-title>
    <ion-buttons slot="end" color="light" size="large">
      <ion-icon style="color : white;" color="light" size="large" name="log-out"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p> Este aplicativo foi desenvolvido pela Universidade Estadual do Ceará (Uece) em uma parceria entre os cursos de
    bacharelado em Ciência da Computação e bacharelado em Nutrição.
    Participam desse projeto as professoras doutoras Sara Maria Moreira Lima Verde e Glaucia Posso Lima da Nutrição
    e os profesores doutores Rafael Gomes Lopes, Gustavo Augusto Lima Campos e Thelmo Pontes de Araújo da Ciência da
    Computação.</p>

  <h6>Em caso de erros, dúvidas ou sugestões contactar a equipe técnica de desenvolvimento: </h6>

  <ul>
    <li>Matheus: (85) 96358026</li>
    <li>Diego: (85) 86892701</li>
    <li>Levi: (85) 97841997</li>
  </ul>

</ion-content>