ion-content {
    p {
        color: #1b334b;
        margin-right: 7.5px;
        margin-left: 5px;
    }

    h6 {
        color: #1b334b;
        margin-right: 7.5px;
        margin-left: 5px;
    }

    ul {
        color: #666666;
    }
}